.container {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 30vh;
}

.calculator {
  display: grid;
  width: 60vw;
  height: 40vh;
  border-style: solid;
  border-color: black;
  border-width: 7px;
  border-radius: 20px;
  grid-template-rows: 20% 80%;
  padding: 2px;
  font-size: 16px;
}

.display {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 2px;
}

.numpad {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  padding-top: 2px;
}

.button-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.button {
  color: white;
  background-color: black;
}

.button-operator {
  background-color: orange;
}

.button, .button-operator, .display {
  font-size: 50px;
}

#button-clear {
  border-bottom-left-radius: 14px;
}

#button-divide {
  border-bottom-right-radius: 14px;
}